body {
	background: url("./assets/Texturelabs_Paper_312XL_light_cropped.jpg") repeat;
	color: #262626;
	margin: 0;
	background-size: 700px auto;
	position: relative;
}

#home {
	color: #2466cf;
	font-size: 32px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;

	position: fixed;
	top: 16px;
	left: 32px;
	background-color: #f6f6f6;

	/* Ripped/modified from MDN */
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px black;
	display: inline-block;
	width: 32px;
	text-align: center;
	padding: 3px 5px;
	white-space: nowrap;

}

#content {
	width: 982px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 160px;
	position: relative;

}

#portrait {
	width: 320px;
}

#intro-container {
	display: inline-block;
	width: 648px;
	position: absolute;
	top: 0;
}

#intro-title {
	height: 156px;
}

#me {
	width: 180px;
	float: left;
	margin-right: 64px;
}
h2 {
	padding: 48px;
	margin-top: 16px;
	font-size: 48px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
}

p {
	font-size: 28px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 350;
	font-style: normal;
	/*font-size: 24px;
	font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;*/
}

#description {
	display: inline-block;
	padding-left: 64px;
	padding-right: 64px;
	text-align: center;
}

#seemore {
	display: inline-block;
	width: 100%;
	text-align: center;
	animation: float 3.25s ease-in-out infinite;
}

#seemore img {
	margin: 16px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

#under-construction {
	font-size: 28px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 350;
	font-style: normal;
	margin-top: 256px;
	padding-bottom: 256px;
	text-align: center;
}

footer {
	padding: 8px 0;
	font-size: 12px;
	color: #f6f6f6;
	background-color: #262626;
	position: absolute;
	bottom: 0;
	width: 100%;
}
