body {
	background: url("./assets/Texturelabs_Paper_312XL_light_cropped.jpg") repeat;
	color: #262626;
	margin: 0;
	background-size: 700px auto;
	position: relative;
}

#home {
	color: #2466cf;
	font-size: 32px;
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	text-decoration: none;

	position: fixed;
	top: 16px;
	left: 32px;
	background-color: #f6f6f6;

	/* Ripped/modified from MDN */
	border: 2px solid black;
	border-radius: 8px;
	box-shadow: 2px 2px black;
	display: inline-block;
	width: 32px;
	text-align: center;
	padding: 3px 5px;
	white-space: nowrap;
	z-index: 1;

}

#content {
	max-width: 982px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 128px;
	position: relative;
}

#landing {
	height: 100vh;
	padding-top: 32px;
	box-sizing: border-box;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


#intro-container {
	text-align: center;
}

a {
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Outfit", sans-serif;
	font-weight: 500;
	font-style: normal;
}

h1 {
	margin: 32px;
	font-size: 48px;
	font-family: "Outfit", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin: 0;
}

h2 {
	font-family: "Outfit", sans-serif;
	font-weight: 400;
	font-size: 40px;
	margin: 32px;
	font-style: italic;
}

h3 {
	font-family: "Outfit", sans-serif;
	font-weight: 500;
	font-size: 32px;
	margin-bottom: 0.25em;
}

p {
	font-family: "Outfit", sans-serif;
	font-optical-sizing: auto;
	font-weight: 350;
	font-style: normal;
	font-size: 24px;
	/*font-family: "Roboto", sans-serif;
	font-optical-sizing: auto;
	font-weight: <weight>;
	font-style: normal;
	font-variation-settings:
		"wdth" 100;*/
}

#description {
	font-size: 28px;
	margin-left: 32px;
	margin-right: 32px;
	text-align: center;
}

#seemore {
	font-size: 28px;
	display: inline-block;
	width: 100%;
	text-align: center;
	animation: float 3.25s ease-in-out infinite;
}

#seemore img {
	margin: 16px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(8px);
    }

    100% {
        transform: translateY(0);
    }
}

.project {
	margin: 32px;
}

hr {
	width: 40%;
	margin: 64px auto;
}

.project h4 {
	margin-top: 0;
}

.project img {
	border-radius: 16px;
	max-width: 90%;
	display: block;
	margin: auto;
}

footer {
	padding: 8px 0;
	font-size: 12px;
	color: #f6f6f6;
	background-color: #262626;
	position: absolute;
	bottom: 0;
	width: 100%;
}

#mobile-container {
	margin-left: auto;
	margin-right: auto;
	display: flex;
	align-items: center;
	whitespace: nowrap;
	justify-content: center;
	margin-top: 64px;
	margin-bottom: 64px;
}


#portrait-mobile {
	width: 35%;
	border-radius: 16px;
	padding: 8px;
	aspect-ratio: 1;
	object-fit: cover;
	overflow: hidden;
	display: inline-block;
}

#me-mobile {
	width: 20%;
}

#desktop-container {
	display: none;
	align-items: center;
	whitespace: nowrap;
	justify-content: center;
}

#desktop-container #portrait {
	position: relative;
	width: 100%;
}
#desktop-container #me {
	position: absolute;
	width: 35%;
	right: -35%;
	top: 10%;
}

@media screen and (min-width: 800px) {
	#mobile-container {
		display: none;
	}

	#desktop-container {
		display: inline-block;
		position: relative;
		max-width: 30%;
	}

	#intro-container {
		display: inline-block;
		max-width: 65%;
	}

	#landing {
		display: block;
		padding-top: 20vh;
	}

	.project img {
		max-height: 55vh;
	}
}
